

  @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}
/* banner -header- section */
header{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px; 
   background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(./images/Banner\ Image.png);
   margin-left: 140px;
   margin-right: 140px;
   margin-top: 50px;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: center;
    margin-bottom: 120px;
}
.head{
    
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    padding: 177px 531px 383px 530px;
}
.headd{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; 
padding : 233px 344px 177px 344px;
position: relative;}


/* main section -second container*/

.second-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    }
.deals-off{
    
text-align: center;
   
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
color: #F00;

}
.para{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.all{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.iamge{
    width: 802.9px;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
    
}
/* third-container */

.third-container{
width: 1320px;
height: 600px;
background-repeat: no-repeat;
background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./images/Vectorrr.png),no-repeat;
display: flex;
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;
position: center;
}
.welcome-party{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding: 126px 552px 24px 126px;  
}
.paraa{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding: 5px 497px 40px 126px;
    }
.join{
color: rgba(255, 255, 255, 0.80);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
padding: 8px 1059px 142px 126px;
}

.imge{

    width: 319.83px;
    height: 464.662px;
  margin-left:0px;

    }
/* New-section */

.new-section{
width: 1320px;
height: 482px;
background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;

}
.new{
 color: #F00;
font-family: Inter;
font-size: 32px;
text-align: center;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}
.section{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.center{
    padding: 100px 386px 214px 385px;
    text-align: center;
}
#btn{
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
border:none;
border-radius: 8px;
background: #F00;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}

/* forth-section */

.forth-section{
display:flex;
width: 1600px;
height: 735px;
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;
margin-bottom:20px;
justify-content: center;
}
#bestt{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;  
}
#soon{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
#paraaa{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */ 
}
.circle{
    width: 364.844px;
height: 364.844px;
flex-shrink: 0;
padding: 50px;
border-radius: 463px;
border: 15px solid #F00;
}

#yr{
    color: #F00;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 118px;
}
#pr{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; 
margin-left: 118px;
}
#pc{
    width: 140px;
height: 140px;
flex-shrink: 0;
margin-left: 118px;
}

/* fifth-section */

#h3{
    color: #070211;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}
#h1{
    color: #F00;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;

}
.imagess{
    position: relative;
}
#span{
    color: #070211;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: normal;
}
#p{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 160% */
width: 1068px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;
}
.fifth-section{
justify-content: center;
margin-top:20px;
 position: relative;
margin-left: 140px;
margin-bottom: 120px;
display: block;
margin-left: auto;
 margin-right: auto;
margin-bottom: 120px;
width: 1600px;
height: 900px;

}
.girl{
width: 429px;
height: 433px;
position: relative;
flex-shrink: 0;
margin-right: 770px;
margin-top: 64px;
border-radius: 16px 16px 0px 0px;
}
.crcl{
width: 206.841px;
height: 206.841px;
flex-shrink: 0;
margin-left: -100px;
margin-right: 0px;
margin-top: 100px;

position: relative;
}
.box{
position: relative;

margin-left: -570px;
margin-bottom: 550px;


}
.imagess{
    background: url(./images/Rectangle\ 1.png);
    background-repeat: no-repeat;
    width: 429px;
height: 433px;
position: relative;
flex-shrink: 0;
margin-top: 64px;
border-radius: 16px 16px 0px 0px;
background: ;
margin-left: 1030px;
}
.reds{
    background: url(./images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    width: 1320px;
height: 229px;
flex-shrink: 0;
border-radius: 16px 0px 16px 16px;
background: #F00;
display: block;
margin-left: auto;
margin-right: auto;
}

/* six-section */

.six-section{
   
justify-content: center;
text-align: center;
margin-top: 120px;
}
.side{
    text-align:left;
    margin-left: 145px;
    margin-bottom: 64px;
}
.the{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.portofolio{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.dolor{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
.six-section{
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;
width: 1600px;
height: 835px;
}
.bag{
    width: 400px;
height: 300px;
flex-shrink: 0;
border-radius: 16px;
justify-content: center;
margin-left: 50px;
margin-bottom: 50px;
}
.boxes{
    gap : 40px;
   
    display: flex;
}
.bags{
   
    gap: 40px;
    display: flex;
}
.fashion{
    transition: 1s;
   
   

}
.bag:hover{
    transform:scale(1.3);
    z-index:5;
}


/* seven-section */

.seven-section{
    
width: 1320px;
height: 616px;
flex-shrink: 0;
border-radius: 16px;
background: rgba(255, 0, 0, 0.05);
margin-bottom: 80px;
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;
justify-content: center;
align-items: center;
margin-bottom: 120px;
}
.centeer{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 80px 0px 0px 0px;
}
#subscribe{
    text-align: center;
    color: #070211;

font-family: Merriweather;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
#dolorr{
color: rgba(7, 2, 17, 0.60);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}
label{
width: 648px;
height: 72px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
position: relative;
}
.input{
    width: 648px;
height: 72px;
flex-shrink: 0;
border-radius: 50px;
background: #FFF;
color: rgba(7, 2, 17, 0.30);
text-align:center;
font-family: Inter;
font-size: 18px;
font-weight: 400;
}
.bton{
position:absolute;
width: 210px;
height: 72px;
flex-shrink: 0;
border-radius: 0px 50px 50px 0px;
background: #F00;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 20px;
font-weight: 600;
text-transform: capitalize;
bottom: 0;
right: 0;
}
#change{
display: block;
 margin-left: auto;
margin-right: auto;
margin-top: 48px;
}

/* Footer section */


footer{
    width: 1600px;
height: 609px;
flex-shrink: 0;
background: #070211;
display: block;
 margin-left: auto;
margin-right: auto;
}
.social-links{
   justify-content: center;
display: flex;
}
.footer{
    color: white;
}